* {
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    height: 100vh;
    text-align: left;
}


.home h1 {
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: relative;
    top: 224px;
    left: 50px;
}

.home p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 362px;
    width: 80%;
    margin: auto;
}

.home img {
    position: absolute;
    top: 50px;
    left: 50px;
}

.home button {
    width: 30%;
    padding: 10px;
    position: absolute;
    right: 175px;
    bottom: 50px;
    border-radius: 20px;
}

.home .sedan .P1 {
    color: hsl(31, 77%, 52%);
    border: 1px solid hsl(31, 77%, 52%);
    font-family: Arial, Helvetica, sans-serif;
}

.home .SUV .P2 {
    color: hsl(184, 100%, 22%);
    border: 1px solid hsl(184, 100%, 22%);
    font-family: Arial, Helvetica, sans-serif;
}

.home .LUX .P3 {
    color: hsl(179, 100%, 13%);
    border: 1px solid hsl(179, 100%, 13%);
    font-family: Arial, Helvetica, sans-serif;
}

.home .sedan {
    background-color: hsl(31, 77%, 52%);
    position: relative;
}

.home .SUV {
    background-color: hsl(184, 100%, 22%);
    position: relative;
}

.home .LUX {
    background-color: hsl(179, 100%, 13%);
    position: relative;
}